*.py[cod]
__pycache__

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
wheelhouse
develop-eggs
.installed.cfg
lib
lib64
venv*/
pyvenv*/
pip-wheel-metadata/

# simulation data
notebooks/out*/
notebooks/simdata/
notebooks/data*/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Translations
*.mo

# Buildout
.mr.developer.cfg

# IDE project files
.project
.pydevproject
.idea
.vscode
*.iml
*.komodoproject

# Sphinx
docs/_build*

# Jupyter
.ipynb_checkpoints

.DS_Store
*~
.*.sw[po]
.build
.ve
.env
.cache
.pytest
.benchmarks
.bootstrap
.appveyor.token
*.bak

#==========================================
# Exceptions:
# Add files exceptions using a trailing "!" 
#==========================================
